<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td><%=h project.title %></td>
      <td><%=h project.description %></td>
      <td><%=h project.user_id %></td>
      <td><%= link_to "Show", project %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>
      <td><%= link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Project", new_project_path %></p>
