<%= icon :title => :editing, :size => :medium %> 
<span class = "header">Edit Group Settings</span>
<div class = "instructions">
	Share your Webmapps projects with other users and groups on this system. Please select the users and groups that you would like to have access to this project.
</div>
<div id = 'listed_items'>
</div>



<% form_tag :action => 'update_sharing' do %>
<strong><%= icon :title => :user, :size => :medium %> Share with these users</strong><br />
<div id = "listed_items">
	<ul>
		<% for user in @users.sort %>
			<li>
				<%= check_box_tag "project[user_ids][]", user.id, @project.users.include?(user) %> <%= user.username %>
			</li>
		<% end %>
	</ul>
</div>

<strong><%= icon :title => :group, :size => :medium %> Share with these groups</strong>
<div id = "listed_items">
	<ul>
		<% for group in @groups.sort %>
			<li>
				<%= check_box_tag "project[group_ids][]", group.id, @project.groups.include?(group) %> <%= group.name %>
			</li>
		<% end %>
	</ul>
</div>
<%= submit_tag "Update"%> <br /><br />
<% end %>