<div class = "heading"><%= icon :title => :megaphone, :size => :medium %> Recent Activity</div><br />
	<div class = "field_value">
		<div class ="field">Today</div><div class = "value">I ate a pie.</div>
	</div>
	<div class = "field_value">
		<div class = "field">Yesterday</div><div class = "value">I ate a pie.</div>
	</div>
	<div class = "field_value">
		<div class = "field">The day before</div><div class = "value">I ate a pie.</div>
	</div>

	<div id = "right_panel">
		<h1>General Information</h1>
		<div class = "general_information">
			<div class = "field">Description</div>
			<div class = "value">
				<%= @project.short_description %>
			</div>
		</div>
		<div class = "general_information">
			<div class = "field">Date Created</div>
			<div class = "value">
				<%= @project.created_at %>
			</div>
		</div>
		<div class = "general_information">
			<div class = "field">Last Updated</div>
			<div class = "value">
				<%= @project.updated_at %>
			</div>
		</div>
		<br />
		<h1>Access Details</h1>
			<div class = "general_information">
				<div class = "field">Users on this project</div>
				<div class = "value">
					<% @project.users.each do |user| %>
						<%= link_to user.username %> 
					<% end %>
				</div>
			</div>
			<div class = "general_information">
				<div class = "field">Groups on this project</div>
				<div class = "value">
					<% @project.groups.each do |group| %>
						<%= link_to group.name %> 
					<% end %>
				</div>
			</div>
			<div class = "general_information">
				<div class = "field">Owner</div>
				<div class = "value">
					<%= @project.owner.username %>
				</div>
			</div>
	</div>
</div>