<p>
  <b>Layer:</b>
  <%=h @filter.layer_id %>
</p>

<p>
  <b>Field name:</b>
  <%=h @filter.field_name %>
</p>

<p>
  <b>Operation:</b>
  <%=h @filter.operation %>
</p>

<p>
  <b>Value:</b>
  <%=h @filter.value %>
</p>


<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
